{{ template "partials/header.html" . }}

{{ with .Site.GetPage "about.md" }}
<div class="intro">
  <h2>{{ .Title }}</h2>
  {{ .Content }}
</div>
{{ end }}

<h2>Projects</h2>
<ul class="projects">
    {{ range where .Site.RegularPages "Section" "project" }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ if .Description }}
       <span class="description">- {{ .Description }}</span>
      {{ end }}
    </li>
    {{ end }}
</ul>

<h2>Writing</h2>

<ul class="posts">
    {{ range where .Site.RegularPages "Section" "post" }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ if .Description }}
       <span class="description">- {{ .Description }}</span>
      {{ end }}
    </li>
    {{ end }}
</ul>

{{ template "partials/footer.html" . }}
