body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #d8dee9;
  font-size: 18px;
  line-height: 1.6;
  background: #111c22;
}

#content {
  margin: 0 auto 50px;
  max-width: 575px;
  padding: 18px;
}


@media (min-width: 48rem) {
  #content {
    margin: 50px auto;
  }
}

.sigil {
  width: 22px;
  height: 22px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: -6px;
  margin-right: 8px;
}
.pages, .projects {
  margin-bottom: 24px;
}
h1 {
  margin-bottom: 32px;
}
p {
  margin-bottom: 1.5rem;
}
a {
  text-decoration: none;
  color: #ec5f67;
}
a.image-link {
  background: none;
}
ul {
  list-style: circle;
  padding-left: 22px;
  margin-bottom: 18px;
}
ul.posts, ul.projects {
  list-style: none;
  padding-left: 0;
}

ul.posts > li, ul.projects > li {
  margin-bottom: 12px;
}

pre {
  font-family: monospace;
  font-size: 14px;
  margin: 12px 0;
  padding: 8px 12px;
  background: #eee;
}
.thumbnail {
  width: 100%;
  margin: 12px 0;
}
.post > h1, .post > h2, .post > h3, .post > h4 {
  font-size: 120%;
  margin-top: 48px;
  margin-bottom: 18px;
}
em {
  font-style: italic;
}
