body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #171717;
  font-size: 16px;
  line-height: 1.7;
  background: #f7f7f7;
}

#content {
  margin: 0 auto 50px;
  max-width: 575px;
  padding: 18px;
}


@media (min-width: 48rem) {
  #content {
    margin: 50px auto;
  }
}

.sigil {
  width: 64px;
  height: 64px;
  display: block;
  margin-bottom: 2rem;
}

.pages, .projects, .intro {
  margin-bottom: 3rem;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: 600;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #4caf50;
}
a.image-link {
  background: none;
}
ul {
  list-style: circle;
  padding-left: 22px;
  margin-bottom: 18px;
}
ul.posts, ul.projects {
  list-style: none;
  padding-left: 0;
}

ul.posts > li, ul.projects > li {
  margin-bottom: 12px;
}

pre {
  font-family: monospace;
  font-size: 14px;
  margin: 12px 0;
  padding: 8px 12px;
  background: #eee;
}
.thumbnail {
  width: 100%;
  margin: 12px 0;
}
.post > h1, .post > h2, .post > h3, .post > h4 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
em {
  font-style: italic;
}
